<header class="header">
    <div class="container" >
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-4">
                <div class="logo">
                    <img src="../../assets/avatar.png">
                    <a routerLink="login">LOGIN</a>
                    <a routerLink="admin">Admin</a>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="nav">
                <a routerLink="">HOME</a>
                <a routerLink="info">INFO</a>
                <a routerLink="course$fees">TOP COURSES AND FEE</a>
                <a routerLink="admission">ADMISSION DATES</a>
                <a routerLink="register">REGISTER</a>
                <a routerLink="contact">CONTACT NUMBER</a>
                <a routerLink="branches">BRANCHES</a>
                <a routerLink="reviews">REVIEWS</a>
               
</div>


