<div class="main">
    <div class="container">
        <div class="row1">
            <div class="col-md-2 col-sm-3 text-center">
                <div class="content" href="#"><img [src]="circle" class="rounded-circle"></div>
            </div>
                <h4 class="topic" >AVATAR SCHOOL  CONTACT NUMBER</h4>
            </div>
    </div>
</div>
<h2 style="font: bold; color: brown;">ALL BRANCHES CONTACT LIST</h2>
<hr>

<table id="user">
    <tr>
        <th *ngFor = "let column of header">
            {{column}}
        </th>
    </tr>

    <tr *ngFor = "let row of rows">
        <td *ngFor = "let column of header">
            {{row[column]}}
        </td>
    </tr>
</table>
<h1 style="font-style: italic;">Want to know more about school click here</h1>
<div class="row">
    <div class="col-xs-9">
    <a  href="../branches" class="text-muted " >(CLICK)</a>
    </div>
</div>