
<div>
    <h3 style="background-color: hsl(0, 1%, 59%); border-radius: 5px; margin-top: 10px;">School Management System: </h3>
</div>
<p>School management system is a complete school management software designed to automate a school's diverse operations from classes,
    exams to school events calender.This school software has a powerful online community to bring parents, teachers and students on a common 
    interactive plateform. It is a peperless offline automation solution for today's modern schools. The School Management Systam provides
    the facility to carry out all day activities of the school making them fast, easy,efficient and accurate.
</p><br>
<p style="font-style: italic; color: black;" >* Our teams works and school management is PTA=Parents and Teachers Association, SMDC, SMC, welfare commity,
gardening </p>
<div class="content">
    <h5 style="color: black; background-color: rgb(167, 164, 164); border-radius: 5px;">OUR SCHOOL GRADE LAST 4 YEARS: </h5>
</div><br>
<div class="grade">
<div style="align-items: initial; margin-top: auto;margin-left: 100px;">
<circle-progress [percent]="80"
[subtitle]="'SCHOOL GRADE in 2017'"
[space]="-10"
[outerStrokeColor]="10"
[outerStrokeColor]=" 'green'"
[innerStrokeColor]="'yellow'" 
[animation]="true"
[animationDuration]="1000"></circle-progress></div>

<div style="align-items: initial; margin-top: auto; margin-left: 70px;">
    <circle-progress [percent]="92"
    [subtitle]="'SCHOOL GRADE in 2018'"
    [space]="-10"
    [outerStrokeColor]="10"
    [outerStrokeColor]=" 'blue'"
    [innerStrokeColor]="'pink'" 
    [animation]="true"
    [animationDuration]="1000"></circle-progress></div>


<div style="align-items: initial; margin-top: auto;margin-left: 70px;">
    <circle-progress [percent]="95"
    [subtitle]="'SCHOOL GRADE in 2019'"
    [space]="-10"
    [outerStrokeColor]="10"
    [outerStrokeColor]=" 'red'"
    [innerStrokeColor]="'grey'" 
    [animation]="true"
    [animationDuration]="1000"></circle-progress></div>

    <div style="align-items: initial; margin-top: auto;margin-left: 70px;">
        <circle-progress [percent]="97"
        [subtitle]="'SCHOOL GRADE in 2020'"
        [space]="-10"
        [outerStrokeColor]="10"
        [outerStrokeColor]=" 'violet'"
        [innerStrokeColor]="'brown'" 
        [animation]="true"
        [animationDuration]="1000"></circle-progress></div>
</div>
<div class="chart">
    <h6 style="color: rgb(211, 51, 51); display: flex; font-style: italic;">Our School Grade System in Chart "2008 to 2020"</h6>
<canvas id="myChart" width="1320" height="400"></canvas>
</div>




