h5{
    text-align: center;
    color: rgb(56, 14, 56);
}
#user{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-collapse: collapse;
    width: 100%;
}
#user td, #user th{
    border: 1px solid #ddd;
    padding: 8px;
}

#user tr:nth-child(even){
    background-color: #f2f2f2;

}
#user tr:hover {
    background-color: #ddd;
}
#user th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: blueviolet;
    color: white;
}